body, html, #root,  .App {
  height: 100%;
  margin: 0;
  font-family: 'poppins', sans-serif;
  color: black;
  text-align: center;
}


.App {
  background: linear-gradient(-45deg,
  #0b1953, #891313, #ce9211, #0e8fac);
  background-size: 400% 400%;
  animation: gradientShift 10s ease
  infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, p {
  margin: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

button {
  background-color: rgba(0, 0, 0, 0.15);
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: white;
  color: #000000;
}

small {
  opacity: 3;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.victory-screen {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.App-header h1 {
  font-size: 3rem;
  color: gold;
  text-shadow: 3px 3px 10px rgba(255, 215, 0, 0.7);
  margin-bottom: 15px;
}

.App-header h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.App-header h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 15px;
}

.App-header p {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 5px 0;
}

.App-header button {
  background-color: gold;
  color: black;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.App-header button:hover {
  background-color: #ffeb3b;
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(255, 235, 59, 0.5);
}


.App-header div {
  margin-top: 25px;
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.level-box {
  border: 3px solid #ffffff;
  border-radius: 20px;
  padding: 25px 40px;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 15px rgb(238, 226, 226);
  display: inline-block;
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  color: rgb(19, 151, 192);
}

@keyframes softPulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.level-box {
  animation: softPulse 4s infinite ease-in-out;
}
